:root {
  --bg: #FFF;
}

.dark-mode {
  --bg: #1A1A1A;
}
    
#icon {
  width: 30px;
  margin-top: 15em;
}
  
div {
  display: flex;
  align-items: center;
  justify-content: center;
}  

body {
  background-color: var(--bg);
  color: var(--bg);
}
