:root {
  --bg: #FFF;
}

.dark-mode {
  --bg: #1A1A1A;
}

body {
  background-color: var(--bg);
  color: var(--bg);
  margin: 10px;
  display: flex;           
  flex-direction: column;           
  align-items: center;           
  justify-content: center;
}

.icon {
  width: 30px;
}
